<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <!-- <input type="text" placeholder="Enter your name" name="name" required> -->
    <input type="email" placeholder="Enter your email" name="email" required>
    <input type="password" placeholder="Enter your password" name="password" required>
    <br><br>
    <button type="submit">Sign In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/ Sign Up</a>
</p>