<h1>Sign Up</h1>
<form action="/users/create" method="POST">
    <input placeholder="Enter name" type="text" name="name" required/>
    <p>Email</p>
    <input placeholder="Enter email" type="email" name="email" required/>
    <p>Password</p>
    <input placeholder="Enter password" type="password" name="password" required/>
    <input placeholder="Confirm password" type="password" name="confirm_password" required/>
    <br>
    <br>
    <button type="submit">Sign Up</button>
</form>