body {
  margin: 0;
  /* text-align: center; */
  background-color: lightcyan;
}

body #main-body {
  padding-left: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
}

body #main-body form button {
  background-color: slateblue;
  border: 0px;
  color: white;
  height: 25px;
  width: 80px;
  cursor: pointer;
}
