footer{
    background-color: aquamarine;
    // position: fixed;
    // top: 89vh;
    // width: vw;
    margin-top: 37vh;
    padding-left: 10px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}