header{
    background-color: blue;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 30px;
    // position: fixed;
    // top: 0px;
    // width: 99vw;
    ul{
        list-style-type: none;
        padding-left: 0;
        display: flex;
        width: 160px;
        
        justify-content: space-between;
        a{
            color: white;
            text-decoration: none;
        }
    }
}