#home-container{
    overflow: auto;
    #feed-posts{
        #new-post-forms{
            display: flex;
            flex-direction: column;
            align-items: start;
            // height: 130px;
            justify-content: space-between;
        }
    }
}
