h1{
    text-align: center;
}
#home-container{
    display: flex;
    // justify-content: space-evenly;
    overflow: auto;
    #feed-posts{
        width: 70%;
        padding: 10px;

        #new-post-forms{
            display: flex;
            flex-direction: column;
            align-items: start;
            // height: 130px;
            justify-content: space-between;
        }

    }
    #user-friends{
        width: 30%;
        padding: 10px;
        border: 1px solid lightgray;
        height: 100vh;
    }
}
